<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Event</label>
        <div class="col-lg-8">
            <input type="email" class="form-control" id="inputEmail1" placeholder="Event" value="">
        </div>
    </div>
   
    <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Location</label>
        <div class="col-lg-8">
            <input type="email" class="form-control" id="inputEmail1" placeholder="Location">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Attendees</label>
        <div class="col-lg-8">
            <input type="email" class="form-control" id="inputEmail1" placeholder="Attendees">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Date</label>
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="maskedDate">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Duration</label>
        <div class="col-lg-8">
            <input type="email" class="form-control" id="inputEmail1" placeholder="Duration of meeting">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Reminder</label>
        <div class="col-lg-8">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1"> 15 Min
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2"> 30 Min
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3"> 60 Min
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Repeat</label>
        <div class="col-lg-8">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox"> Sun
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox"> Mon
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox"> Tue
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox"> Wed
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox"> Thurs
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox"> Fri
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox"> Sat
                </label>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="button" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>