<div class="row">
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb">
                    <li><a href="">Home</a></li>
                    <li class="active"><span>Dashboard</span></li>
                </ol>
                <h1>Dashboard</h1>
            </div>
            <div class="pull-right hidden-xs">
                <div class="xs-graph pull-left">
                    <div class="graph-label">
                        <b><i class="fa fa-shopping-cart"></i> 838</b> Orders
                    </div>
                    <div class="graph-content spark-orders"></div>
                </div>
                <div class="xs-graph pull-left mrg-l-lg mrg-r-sm">
                    <div class="graph-label">
                        <b>&dollar;12.338</b> Revenues
                    </div>
                    <div class="graph-content spark-revenues"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">Last Stock Moves</h2>
                <div class="filter-block pull-right">
                    <div class="form-group pull-left">
                        <input type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search search-icon"></i>
                    </div>
                    <a href="" class="btn btn-primary pull-right">
                        <i class="fa fa-eye fa-lg"></i> View all orders
                    </a>
                </div>
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive clearfix">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class ="text-center"><span>Description</span></thclass>
                                <th class="text-center"><span>Reference</span></th>
                                <th class="text-center"><span>Picking&nbsp;Type </span></th>
                                <th class="text-center"><span>Product</span></th>
                                <th class="text-right"><span>Quantity</span></th>
                                <th class="text-right"><span>Source&nbsp;Location</span></th>
                                <th class="text-right"><span>Destination&nbsp;Location</span></th>
                                <th class="text-right"><span>Expected&nbsp;Date</span></th>
                                <th class="text-right"><span>Status</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center" >
                                    [ADPT] USB Adapter
                                </td>
                                <td>
                                    WH/IN/00001
                                </td>
                                <td>
                                    My Company: Receipts
                                </td>
                                <td class="text-center">
                                    USB Adapter
                                </td>
                                <td class="text-right">
                                    50.000
                                </td>
                                <td>
                                    Partner Location/Supplier
                                </td>
                                <td>
                                    WH/Stock/Shelf 2
                                </td>
                                <td>
                                    06/16/2015
                                </td>
                                <td>
                                    New
                                </td>
                                <td class="text-center" style="width: 15%;">
                                    <a href="" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    [ADPT] USB Adapter
                                </td>
                                <td>
                                    WH/IN/00001
                                </td>
                                <td>
                                    My Company: Receipts
                                </td>
                                <td class="text-center">
                                    USB Adapter
                                </td>
                                <td class="text-right">
                                    50.000
                                </td>
                                <td>
                                    Partner Location/Supplier
                                </td>
                                <td>
                                    WH/Stock/Shelf 2
                                </td>
                                <td>
                                    06/16/2015
                                </td>
                                <td>
                                    New
                                </td>
                                <td class="text-center" style="width: 15%;">
                                    <a href="" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    [ADPT] USB Adapter
                                </td>
                                <td>
                                    WH/IN/00001
                                </td>
                                <td>
                                    My Company: Receipts
                                </td>
                                <td class="text-center">
                                    USB Adapter
                                </td>
                                <td class="text-right">
                                    50.000
                                </td>
                                <td>
                                    Partner Location/Supplier
                                </td>
                                <td>
                                    WH/Stock/Shelf 2
                                </td>
                                <td>
                                    06/16/2015
                                </td>
                                <td>
                                    New
                                </td>
                                <td class="text-center" style="width: 15%;">
                                    <a href="" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    [ADPT] USB Adapter
                                </td>
                                <td>
                                    WH/IN/00001
                                </td>
                                <td>
                                    My Company: Receipts
                                </td>
                                <td class="text-center">
                                    USB Adapter
                                </td>
                                <td class="text-right">
                                    50.000
                                </td>
                                <td>
                                    Partner Location/Supplier
                                </td>
                                <td>
                                    WH/Stock/Shelf 2
                                </td>
                                <td>
                                    06/16/2015
                                </td>
                                <td>
                                    New
                                </td>
                                <td class="text-center" style="width: 15%;">
                                    <a href="" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    [ADPT] USB Adapter
                                </td>
                                <td>
                                    WH/IN/00001
                                </td>
                                <td>
                                    My Company: Receipts
                                </td>
                                <td class="text-center">
                                    USB Adapter
                                </td>
                                <td class="text-right">
                                    50.000
                                </td>
                                <td>
                                    Partner Location/Supplier
                                </td>
                                <td>
                                    WH/Stock/Shelf 2
                                </td>
                                <td>
                                    06/16/2015
                                </td>
                                <td>
                                    New
                                </td>
                                <td class="text-center" style="width: 15%;">
                                    <a href="" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="main-box feed">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">Project feed</h2>
            </header>
            <div class="main-box-body clearfix">
                <ul>
                    <li class="clearfix">
                        <div class="img">
                            <img src="img/samples/robert-300.jpg" alt="" />
                        </div>
                        <div class="title">
                            <a href="">Robert Downey Jr.</a> took photo with Instagram.
                        </div>
                        <div class="post-time">
                            Today 5:22 pm
                        </div>
                        <div class="time-ago">
                            <i class="fa fa-clock-o"></i> 5 min.
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img">
                            <img src="img/samples/lima-300.jpg" alt="" />
                        </div>
                        <div class="title">
                            <a href="">Adriana Lima</a> checked in at Las Vegas Oscars
                        </div>
                        <div class="post-time">
                            Yesterday 11:38 am
                        </div>
                        <div class="photos clearfix">
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/robert-300.jpg" alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/emma-300.jpg" alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/scarlett-300.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="time-ago">
                            <i class="fa fa-clock-o"></i> 9 hours.
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img">
                            <img src="img/samples/emma-300.jpg" alt="" />
                        </div>
                        <div class="title">
                            <a href="">Emma Watson</a> commented on Scarlett Johansson's video.
                        </div>
                        <div class="post-time">
                            Today 11:59 pm
                        </div>
                        <div class="time-ago">
                            <i class="fa fa-clock-o"></i> 28 min.
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img">
                            <img src="img/samples/ryan-300.jpg" alt="" />
                        </div>
                        <div class="title">
                            <a href="">Ryan Gosling</a> likes Ryan Gosling's link on his own Timeline.
                        </div>
                        <div class="post-time">
                            Yesterday 9:43 pm
                        </div>
                        <div class="photos clearfix">
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/scarlett-300.jpg" alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/robert-300.jpg" alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/emma-300.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="time-ago">
                            <i class="fa fa-clock-o"></i> 5 hours.
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img">
                            <img src="img/samples/kunis-300.jpg" alt="" />
                        </div>
                        <div class="title">
                            <a href="">Mila Kunis</a> invited you to his birthday party at her mansion.
                        </div>
                        <div class="post-time">
                            Yesterday 7:50 am
                        </div>
                        <div class="time-ago">
                            <i class="fa fa-clock-o"></i> 9 hours.
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img">
                            <img src="img/samples/emma-300.jpg" alt="" />
                        </div>
                        <div class="title">
                            <a href="">Emma Watson</a> commented on Scarlett Johansson's video.
                        </div>
                        <div class="post-time">
                            Today 11:59 pm
                        </div>
                        <div class="time-ago">
                            <i class="fa fa-clock-o"></i> 28 min.
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img">
                            <img src="img/samples/lima-300.jpg" alt="" />
                        </div>
                        <div class="title">
                            <a href="">Adriana Lima</a> checked in at Las Vegas Oscars
                        </div>
                        <div class="post-time">
                            Yesterday 11:38 am
                        </div>
                        <div class="photos clearfix">
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/robert-300.jpg" alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/emma-300.jpg" alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="">
                                    <img src="img/samples/scarlett-300.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="time-ago">
                            <i class="fa fa-clock-o"></i> 9 hours.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>My Task</h2>
            </header>
            <div class="main-box-body clearfix">
                <ul class="widget-todo">
                    <li class="clearfix">
                        <div class="name">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="todo-1" />
                                <label for="todo-1">
                                    New products introduction <span class="label label-danger">High Priority</span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="name">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="todo-2" />
                                <label for="todo-2">
                                    Checking the stock <span class="label label-success">Low Priority</span>
                                </label>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="" class="table-link">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="" class="table-link danger">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="name">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="todo-3" checked="checked" />
                                <label for="todo-3">
                                    Buying coffee <span class="label label-warning">Medium Priority</span>
                                </label>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="" class="table-link">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="" class="table-link danger">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="name">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="todo-4" />
                                <label for="todo-4">
                                    New marketing campaign <span class="label label-success">Low Priority</span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="name">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="todo-5" />
                                <label for="todo-5">
                                    Calling Mom <span class="label label-warning">Medium Priority</span>
                                </label>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="" class="table-link badge">
                                <i class="fa fa-cog"></i>
                            </a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="name">
                            <div class="checkbox-nice">
                                <input type="checkbox" id="todo-6" />
                                <label for="todo-6">
                                    Ryan's birthday <span class="label label-danger">High Priority</span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
    
</div>

<script src="~/Resorces/js/del/jquery.sparkline.min.js"></script>

<script>
    $(document).ready(function () {
        $('.spark-orders').sparkline([10, 8, 5, 7, 4, 4, 11, 7, 8, 4, 10, 10, 8, 5, 7, 14, 4],
             {type: 'bar', barColor: '#111'}
            );
        $('.spark-revenues').sparkline([10, 8, 7, 5, 14, 4, 10, 9, 5, 5, 17, 9, 3, 10, 14, 13,  12, 13, 11, 17, 9, 3],
             { type: 'bar', barColor: '#111' }
            );
        
	

});
</script>
<style>
    tbody tr td {
        font-size:11px !important;
    }
</style>