<div ng-controller="camera.capture" style="margin-left:100px;">
    <table id="signature-pad" class="table" style="width:500px;">
        <tr>
            <td><video id="video" width="160" height="120" autoplay="" style="border:1px solid #000"></video></td>
            <td>
                <canvas id="canvas" width="160" height="120" style="border:1px solid #000"></canvas>
            </td>
        </tr>
        <tr>
            <td>
                <button id="snap" class="btn">Snap Photo</button>
            </td>
            <td>
                <button id="btnSave" class="btn">Save Photo</button>
            </td>
        </tr>
    </table>
</div>