<div id="login-box">
    <div id="login-box-holder">
        <div class="row">
            <div class="col-xs-12">
                <header id="login-header">
                    <div id="login-logo">
                        <img src="../../../Resorces/img/logo-small.png" alt="" />
                    </div>
                </header>
                <div id="login-box-inner" style="padding-top:20px;">

                    <div class="row">
                        <h2 style="margin-top:0; margin-left:30px;">Welcome to VMS</h2>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" ng-click="CheckIn()" class="btn btn-primary col-xs-12">Check-In</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div id="login-box-footer">
        <div class="row">
            <div class="col-xs-12">
                Do not have an account?
                <a href="registration-full.html">
                    Register now
                </a>
            </div>
        </div>
    </div>
</div>
<style>
        #login-box {
            max-width: 350px;
            min-width: 280px;
            margin: 110px auto 20px;
        }
</style>