<div id="login-box">
    <div id="login-box-holder">
        <div class="row">
            <div class="col-xs-12">
                <header id="login-header">
                    <div id="login-logo">
                        <img src="../../../Resorces/img/logo-small.png" alt="" />
                    </div>
                </header>
                <div id="login-box-inner" style="padding-top:20px;" ng-cloak>
                    <ng-include src="'/app/views/security/add.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
 
</div>
<style>
    #login-box {
        max-width: 850px;
        min-width: 280px;
        margin: 110px auto 20px;
    }
</style>